@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.body{
  background-color: blue;
  min-height:100vh;
}

.top-section{
  width:100%;
  height:87vh;
  background: linear-gradient( #a19e9e, #1f1f1f);
  background-position: center;
  display: flex;
}
.bottom-section{
  height:13vh;
  background-color: #1f1f1f;
  border-top:1px solid #5a5858
}

.main-section{
  width:82%;
}


/****** HEADER ******/

.main-section>header{
  /* background-image: linear-gradient(to right bottom, #302e2e, #2c2a2b, #272627, #232323, #1f1f1f); */
  background-color: transparent;
  height:13%;
  width:82%;
  display:flex;
  justify-content: flex-end;
  position: absolute;
  top:0;
 
}

.profile{
  align-self: center;
  margin-right:2rem;
  padding: 0.2rem 1rem;
  border-radius:2rem;
  border:none;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-color: black;
  color:white;
  font-family: "Poppins";
  gap:0.5rem;

}

.profile>div{
  background-color: #424141;
  width:2.5rem;
  height:2.5rem;
  border-radius: 50px;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left:-10px;
  
}
.profile p{
  font-size: medium;
}
.login>p{
  padding: 0.8rem 1rem;
  font-weight: bolder;
}
.login{
  align-self: center; 
  margin-right:2rem;
  padding: 0.2rem 1rem;
  border-radius:2rem;
  border:none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.login:hover{
  background-color: #0c0c7c;
  color:white;
}

/******* LOGIN PAGE ********/
.login-page{
  height:100vh;
  background-color: #121212;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2rem;
}

.login-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.login-sec p{
  font-size: 10em;
  color:#42A12A;
  font-family: "Poppins";
  font-weight: bolder;
}
.login-page>:last-child{
  background-color: #302e2e;
  border: none;
  padding:1rem 2rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  cursor:pointer;
}
.login-page>:last-child:hover{
  background-color: #42A12A;
}
.login-page>:last-child a{
  text-decoration: none;
  color:white
}

@media screen and (max-width:850px){
  .login-sec p{
    font-size: 17vw;
  }
  .login-sec img{
    width: 27vw;
  }
}

@media screen and (max-width:450px){
  .login-sec{
    flex-direction: column;
  }
  .login-page>:last-child{
    padding:5vw;
  }
  .login-page>:last-child a{
    font-size: 5vw;
  }
}


/********** SIDEBAR *********/

.sidebar{
  width:18%;
  min-width:18v;
  background-color: #121212;
  height:100%;
  color:white;
  /*overflow:scroll;*/
  display:flex;
  flex-direction: column;
 
}

.logo{
  color:white;
  background-color: azure;
  font-size:2rem;
}
.logo-section{
  display:flex;
  padding:1rem;
  align-items: center;
  gap:0.5rem;
}
.logo-section span{
  font-family: "Poppins";
  font-size: 1.7rem;
  font-weight: bolder;
  color:white;
}

.sidebar img{
  width:3rem;
  height:3rem;
}

.home-search-library, .playlist-liked{
  display:flex;
  flex-direction: column;
  gap:1rem;
  margin-top: 1rem;
}

.playlist-liked{
  margin-top:2.5rem;
}
.home-search-library p, .playlist-liked p{
  color: grey;
  transition: color 0.2s ease-in-out;
}

.home-search-library div:hover .icon, 
.home-search-library div:hover .text-sidebar, 
.playlist-liked div:hover .text-sidebar,
.playlist-liked>:first-child:hover .icon{
  color:white
}
.home-search-library>:first-child, 
.home-search-library>:nth-child(2), 
.home-search-library>:last-child, 
.playlist-liked>:first-child,
.playlist-liked>:last-child{
  display:flex;
  gap:1rem;
  font-family: Poppins;
  font-weight: bold;
  align-items: center;
  font-size:0.7rem;
  padding: 0 1.3rem;
  cursor:pointer;
}
.icon{
  font-size:1.4rem;
  color:grey;
  transition: color 200ms ease-in-out;
}

.heart{
  font-size: 1.4rem;
  color:rgb(211, 60, 60);
}
.hr-bar{
  margin:0 1.3rem;
  border-bottom:0.2px solid grey;
  padding:0.5rem;
}

.playlists{
  padding:1rem 1.2rem;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 0.8rem;

}

.playlists::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.playlists::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
.playlists::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 70);    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.playlist-section{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:1rem;
  
}
.playlist-section li{
  overflow-x: scroll;
  color:#858181;
  cursor:pointer;
}
.playlist-section li:hover{
  color:white;
}
.playlist-section li::-webkit-scrollbar{
  display:none;
}


/***** Profile Section *****/

.profile-main{
  background: linear-gradient( #db8181, #1f1f1f);
  overflow-y: overlay;
  overflow-x: hidden;
  height:100%;
}
.profile-main>:first-child{
  background-image: linear-gradient(to left bottom, #404142, #3d3e3f, #37393a, #444748, #3e4141);
  min-height:65%;
  display:flex;
}
.profile-main>:first-child>:first-child{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-left:2.6rem;
  margin-bottom: 2.6rem;
}
.profile-big-icon{
  width: 15em;
  height: 15em;
  background-image: linear-gradient(#3E4141,#333436);
  border-radius: 50%;
  box-shadow: 0 0 3em 0.30em rgba(0, 0, 0, 0.582);
  margin-right:2rem;
  display:flex;
  align-items: center;
  justify-content: center;
}
.profile-big-icon>:first-child{
  font-size: 3.5rem;
  color:rgb(139, 134, 134);
}

.profile-top-info{
  margin-bottom:2rem;
}
.profile-top-info>:first-child{
  font-size:0.7rem;
  font-weight: bold;
  color: white;
}
.profile-top-info>:last-child{
  font-size:5.5rem;
  font-weight: bolder;
  color: white;
  font-family: Montserrat;
  letter-spacing: -1px;
}
.profile-main::-webkit-scrollbar{
  width:10px;
}
.profile-main-section::-webkit-scrollbar-track{
  background: #dc143c;

}
.profile-main::-webkit-scrollbar-thumb{
  background-color: rgba(204, 204, 209, 0.829);    /* color of the scroll thumb */
  opacity: 0;
  border-radius: 2px;
}

.playlist-page{
 
}